.button {
    -fx-background-color: #353965;
    -fx-text-fill: white;
    -fx-font-family: Montserrat;
    -fx-font-size: 15px;
}

.button:hover {
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-opacity: 0.5;
}